@use "@/scss/breakpoints";

.wrapper {
	margin-bottom: 64px;
}

.title {
	margin-bottom: 32px;
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	@media (max-width: breakpoints.$tablet) {
		grid-template-columns: 1fr;
	}
}

.cards {
	display: flex;
	gap: 24px;
	margin-bottom: 32px;

	@media (max-width: breakpoints.$tablet-l) {
		flex-wrap: wrap;
	}
}

.subblock:nth-child(1) {
	grid-column-start: 1;
	grid-column-end: 3;
}

.image {
	width: 100%;
	// margin-top: 115px;

	@media (max-width: 1200px) {
		margin-top: 115px;
	}
}

.card {
	flex-basis: 180px;

	@media (max-width: breakpoints.$mobile) {
		flex-basis: 45%;
	}
}