.logoBlock {
	a {
		display: flex;
		align-items: center;
		gap: 12px;

		font-size: 30px;
		font-weight: 700;
		color: var(--foregroundColor);
	}
}

.logo {
	max-width: 40px !important;
	height: 35px;
	object-position: 0;
}