@use "@/scss/breakpoints";

.logoBlock {
	// flex-grow: 1;

	@media (max-width: breakpoints.$tablet) {
		flex-grow: 1;
	}

	a {
		display: flex;
		align-items: center;
		gap: 12px;

		font-size: 30px;
		font-weight: 700;
		color: var(--foregroundColor);
	}
}

.logo {
	max-width: 40px !important;
	height: 35px;
	object-position: 0;
}