.button {
	position: relative;

	font-size: 14px;
	font-weight: 500;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 4px;

	padding: 7.5px 12px;
	border: none;
	border-radius: 8px;

	user-select: none;
	cursor: pointer;
	transition: transform .3s;
	font-family: inherit;

	&:has(i) {
		padding-block: 5px;
	}

	@media(hover: hover) {
		transition: transform .3s, background-color .3s;
	}
}

.Primary {
	// background: linear-gradient(45deg, var(--mainColor), #3458c4);
	background-color: var(--mainColor);
	transition: transform .3s, background .3s, opacity .3s !important;
	position: relative;
	overflow: hidden;

	&,
	& span,
	& i {
		color: var(--backgroundColor);
		z-index: 1;
		position: relative;
	}


	@media(hover: hover) {
		&:hover {
			background-color: var(--hoverColor);
		}
	}

	&:active {
		background-color: var(--activeColor);
	}
}

.Secondary {
	background-color: transparent;

	outline: #555 1px solid;
	border-bottom: #555 1px solid;
	padding-bottom: 4px;

	overflow: hidden;
	color: var(--foregroundColor);


	@media(hover: hover) {
		&:hover {
			background-color: darken(#555, 15%);
		}
	}

	&:active {
		background-color: darken(#555, 10%);
	}
}

.Link {
	padding: 0;

	transition: transform .3s, color .3s, opacity .3s !important;

	&,
	& span,
	& i {
		color: var(--mainColor);

		&:hover {
			color: var(--hoverColor);
		}

		&:active {
			color: var(--activeColor);
		}
	}
}

.icon {
	font-size: 20px;
}