@use '@/scss/breakpoints';

.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;

	@media (max-width: breakpoints.$tablet) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: breakpoints.$pre-mobile) {
		grid-template-columns: 1fr;
	}
}

.title {
	margin-bottom: 32px;
}

.wrapper {
	margin-bottom: 32px;
}