.popup {
	transition: opacity .5s;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(#000000, 80%);
	z-index: 6;
	display: flex;
	pointer-events: none;

	opacity: 0;

	&.opened {
		pointer-events: all;
		opacity: 1;
	}
}

.wrapper {
	transition: transform .5s;

	// padding: 0 15px;

	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 80px);
	margin-block: 40px;

	transform: translateY(-80px);

	.opened & {
		transform: translate(0);
	}

	@media (max-width: 425px) {
		margin: 0;
		height: 100lvh;
	}
}