@use "@/scss/breakpoints";

.container {
	max-width: 720px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.title {
	line-height: 135%;
	margin-bottom: 16px;
}

.labels {
	flex-wrap: wrap;
}

.base {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
	align-items: center;

	@media (max-width: breakpoints.$tablet) {
		grid-template-columns: 1fr;
	}
}

.image {
	border-radius: 8px;
	aspect-ratio: 1/1;
	height: auto;
	width: 100%;
}

.info {
	grid-column-start: 2;
	grid-column-end: 4;

	@media (max-width: breakpoints.$tablet) {
		grid-column-start: 1;
		grid-column-end: 1;
	}
}