.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.container {
	display: flex;
	justify-content: space-between;
	gap: 30px;

	@media (max-width: 900px) {
		flex-wrap: wrap;
	}

	&>* {
		flex-basis: 40%;
		justify-content: center;

		&:first-child {
			@media (max-width: 600px) {
				flex-basis: 100%;
			}
		}

		@media (max-width: 550px) {
			flex-basis: 100%;
		}
	}
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.title {
	text-align: center;
	margin-bottom: 18px;
}