.button {
	position: relative;

	font-size: 14px;
	font-weight: 500;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 4px;

	padding: 8px 12px;
	border: none;
	border-radius: 8px;

	user-select: none;
	cursor: pointer;
	transition: transform .3s;

	@media(hover: hover) {
		transition: transform .3s, background-color .3s;
	}
}

.buttonPrimary {
	background-color: var(--mainColor);

	transition: transform .3s, background-color .3s, opacity .3s !important;

	&,
	& span,
	& i {
		color: var(--backgroundColor);
	}

	@media(hover: hover) {
		&:hover {
			background-color: var(--hoverColor);
		}
	}

	&:active {
		background-color: var(--activeColor);
	}
}

.buttonSecondary {
	background-color: transparent;

	outline: var(--foregroundColor) 1px solid;
	outline-offset: -2px;

	overflow: hidden;
	color: var(--foregroundColor);

	&::before {
		transition: opacity .3s;
		content: '';
		background-color: var(--foregroundColor);

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	@media(hover: hover) {
		&:hover::before {
			opacity: 20%
		}
	}

	&:active::before {
		opacity: 40%
	}
}

.buttonLink {
	padding: 0;

	transition: transform .3s, color .3s, opacity .3s !important;

	color: var(--mainColor);

	&:hover {
		color: var(--hoverColor);
	}

	&:active {
		color: var(--activeColor);
	}
}