.link {
	color: #fff;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.card {
	padding: 0 !important;
	position: relative;
	overflow: hidden;

	&:hover .info {
		margin-bottom: 0;
	}
}

.image {
	aspect-ratio: 1/1;
	object-fit: cover;
	// margin-bottom: 8px;
	border-radius: 8px;
	width: 100%;
	height: auto;
}

.title {
	font-size: 18px;
	font-weight: 600;
	height: 64px;
	margin-bottom: 16px;
	display: flex;
	align-items: flex-end;
}

.excerpt {
	height: 4em;
	overflow: hidden;
	// display: flex;
	// align-items: flex-end;
}

.info {
	transition: margin .3s;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
	padding: 16px;
	padding-top: 50px;
	border-radius: 0 0 8px 8px;

	margin-bottom: -78px;

	background-image: linear-gradient(to top, #00000090, transparent);
}

.tags {
	position: absolute;
	left: 16px;
	top: 16px;
}

.tag {
	padding: 4px 8px;
	background-color: #fff;
	border-radius: 8px;

	* {
		color: #000;
		font-size: 14px;
	}
}