/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/PopupFooter/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PopupFooter_popupFooter__ZJbh2 {
  background-color: var(--backgroundMicaColor);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 0 0 8px 8px;
  max-width: 400px;
  width: min(100%, 100vw - 40px);
  padding: 24px 40px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/PopupBody/index.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PopupBody_popupBody__QpbnM {
  background-color: var(--backgroundColor);
  padding: 32px 40px;
  border-radius: 8px 8px 0 0;
  max-width: 400px;
  width: min(100%, 100vw - 40px);
  max-height: 100%;
  overflow-y: auto;
}
@media (max-width: 425px) {
  .PopupBody_popupBody__QpbnM {
    height: 100%;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/Popup/index.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Popup_popup__PNI3g {
  transition: opacity 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 6;
  display: flex;
  pointer-events: none;
  opacity: 0;
}
.Popup_popup__PNI3g.Popup_opened__zPhn_ {
  pointer-events: all;
  opacity: 1;
}

.Popup_wrapper__rTw1A {
  transition: transform 0.5s;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  margin-block: 40px;
  transform: translateY(-80px);
}
.Popup_opened__zPhn_ .Popup_wrapper__rTw1A {
  transform: translate(0);
}
@media (max-width: 425px) {
  .Popup_wrapper__rTw1A {
    margin: 0;
    height: 100lvh;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/Body1/index.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Body1_body1__5Dwaq {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/Box/index.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Box_box__5g73h {
  display: flex;
}

.Box_directionrow__cs0yZ {
  flex-direction: row;
}

.Box_directioncolumn__qNThH {
  flex-direction: column;
}

.Box_justifystart__f_uj1 {
  justify-content: flex-start;
}

.Box_justifycenter__SuS0M {
  justify-content: center;
}

.Box_justifyend__xfgWl {
  justify-content: flex-end;
}

.Box_alignstart__7P8VA {
  align-items: flex-start;
}

.Box_aligncenter__VT2eV {
  align-items: center;
}

.Box_alignend__MLZbG {
  align-items: flex-end;
}

.Box_alignstretch__Wb1hC > * {
  flex-grow: 1;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/ui/components/Button/index.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.button {
  transition: background-color 0.2s, transform 0.5s;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  padding: 8px 12px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.buttonPrimary {
  background-color: var(--mainColor);
  color: #fff;
}
.buttonPrimary:hover {
  background-color: var(--hoverColor);
}
.buttonPrimary:active {
  background-color: var(--activeColor);
}

.buttonSecondary {
  padding: 6px 10px;
  background-color: transparent;
  border: var(--foregroundColor) 1px solid;
  overflow: hidden;
  color: var(--foregroundColor);
}
.buttonSecondary::before {
  transition: opacity 0.3s;
  content: "";
  background-color: var(--foregroundColor);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.buttonSecondary:hover::before {
  opacity: 20%;
}
.buttonSecondary:active::before {
  opacity: 40%;
}

.buttonLink {
  padding: 0;
  color: var(--mainColor);
}
.buttonLink:hover {
  color: var(--hoverColor);
}
.buttonLink:active {
  color: var(--activeColor);
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/Card/index.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Card_card__SckuX {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--backgroundColor);
  box-shadow: rgba(0, 0, 0, 0.1882352941) 0 0 10px;
  border-radius: 8px;
}

.Card_card_small__kYMZF {
  padding: 8px;
  border-radius: 4px;
}

.Card_card_normal__ULPAx {
  padding: 16px;
}

.Card_card_big__3X7G0 {
  padding: 32px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/Icon/index.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Icon_icon__FiRMF {
  font-size: 22px;
  font-variation-settings: "wght" 300;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.Icon_big__e5p3W {
  font-size: 40px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/Image/index.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Image_image__tlcOQ {
  max-width: 100%;
  object-fit: cover;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/Input/index.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Input_input__lzJ0a {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 16px;
  background-color: var(--backgroundColor);
  color: var(--foregroundColor);
}

.Input_wrapper__mZhQ3 {
  transition: border 0.3s;
  border: var(--foregroundColor) 1px solid;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: 12px 16px;
  border-radius: 8px;
  min-width: 244px;
}
.Input_wrapper__mZhQ3:has(i) {
  padding: 10px 16px;
}
.Input_wrapper__mZhQ3 i {
  transition: color 0.3s;
  font-size: 24px;
}
.Input_wrapper__mZhQ3:has(input:focus) {
  border-color: var(--mainColor);
}
.Input_wrapper__mZhQ3:has(input:focus) i {
  color: var(--mainColor);
}

.Input_label__goIZe {
  position: absolute;
  left: 16px;
  padding: 0 4px;
  color: gray;
  background-color: var(--backgroundColor);
  pointer-events: none;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: top 0.3s, font-size 0.3s, transform 0.3s, color 0.3s;
}
.Input_wrapper__mZhQ3:has(i) .Input_label__goIZe {
  margin-left: 28px;
}

.Input_wrapper__mZhQ3:has(i) .Input_input__lzJ0a {
  margin-left: 8px;
}
.Input_input__lzJ0a:focus + .Input_label__goIZe, .Input_input__lzJ0a:not(:placeholder-shown) + .Input_label__goIZe {
  color: var(--foregroundColor);
  top: 0;
  transform: translate(0, -9px);
  font-size: 14px;
}
.Input_input__lzJ0a:focus + .Input_label__goIZe {
  color: var(--mainColor);
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/Label/index.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Label_label__7YQCX {
  font-family: "Pacifico", sans-serif;
  color: var(--mainColor);
  font-size: 30px;
  margin-bottom: -30px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/MarkedList/index.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MarkedList_markedList__TUh3j {
  list-style: disc;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/Title1/index.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Title1_title1___KFB3 {
  font-size: 48px;
  line-height: 120%;
  font-weight: 800;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/Title2/index.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Title2_title2__k84JO {
  font-size: 36px;
  line-height: 120%;
  font-weight: 700;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/Title3/index.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Title3_title3__qQaxB {
  font-size: 30px;
  font-weight: 700;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/ui/components/Title4/index.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Title4_title4__kt0E_ {
  font-size: 20px;
  font-weight: 700;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/ContactForm/index.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ContactForm_form__nAHlO {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ContactForm_container__GdHO8 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 900px) {
  .ContactForm_container__GdHO8 {
    flex-wrap: wrap;
  }
}
.ContactForm_container__GdHO8 > * {
  flex-basis: 40%;
  justify-content: center;
}
@media (max-width: 600px) {
  .ContactForm_container__GdHO8 > *:first-child {
    flex-basis: 100%;
  }
}
@media (max-width: 550px) {
  .ContactForm_container__GdHO8 > * {
    flex-basis: 100%;
  }
}

.ContactForm_inputs__c0_ep {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ContactForm_title__GgLK1 {
  text-align: center;
  margin-bottom: 18px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/welcome/index.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.welcome_block__ifhP_ {
  margin-bottom: 64px;
}

.welcome_columns__IUGCa {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  align-items: center;
}
@media (max-width: 768px) {
  .welcome_columns__IUGCa {
    flex-wrap: wrap;
  }
}
.welcome_columns__IUGCa > * {
  flex-basis: 33.3333333333%;
}
@media (max-width: 768px) {
  .welcome_columns__IUGCa > * {
    flex-basis: 100%;
  }
}

.welcome_title__QbCiZ {
  margin-bottom: 8px;
}

.welcome_description__6Qdoi {
  margin-bottom: 32px;
}

.welcome_column__R_psr {
  height: 100%;
}
.welcome_column__R_psr:last-child {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-end;
}
@media (max-width: 1000px) {
  .welcome_column__R_psr:last-child {
    display: none;
  }
}
@media (max-width: 1000px) {
  .welcome_column__R_psr {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .welcome_column__R_psr {
    flex-basis: 100%;
  }
}

.welcome_advantages__BHIMH {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  gap: 24px;
}
.welcome_advantages__BHIMH .welcome_mobile__WQDqM {
  display: none;
}
@media (max-width: 1000px) {
  .welcome_advantages__BHIMH .welcome_mobile__WQDqM {
    display: block;
  }
}
@media (max-width: 940px) {
  .welcome_advantages__BHIMH {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 660px) {
  .welcome_advantages__BHIMH {
    grid-template-columns: 1fr;
  }
}

.welcome_image__VduqO {
  width: 100%;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/Portfolio/Case/index.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Case_image__inulQ {
  border-radius: 4px;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/welcome/Advantage/style.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_header__3Fp1u {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;
}

.style_icon__g024O {
  font-size: 48px;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/About/index.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.About_wrapper__yTyQC {
  margin-bottom: 64px;
}

.About_title__vqBLw {
  margin-bottom: 32px;
}

.About_container__7gpMy {
  display: flex;
}
@media (max-width: 768px) {
  .About_container__7gpMy {
    flex-wrap: wrap-reverse;
  }
}

.About_cards__vt_i4 {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.About_subblock__kbjtp:nth-child(1) {
  flex-basis: 792px;
}

.About_image__y5jiq {
  width: 100%;
}
@media (max-width: 1200px) {
  .About_image__y5jiq {
    margin-top: 115px;
  }
}

.About_card__yZhP8 {
  flex-basis: 180px;
}
@media (max-width: 425px) {
  .About_card__yZhP8 {
    flex-basis: 45%;
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/About/AboutCard/index.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.AboutCard_title__5dzs2 {
  margin-bottom: 8px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/Contact/index.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Contact_form__1WgkD {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Contact_container__cg9gc {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
@media (max-width: 900px) {
  .Contact_container__cg9gc {
    flex-wrap: wrap;
  }
}
.Contact_container__cg9gc > * {
  flex-basis: 40%;
  justify-content: center;
}
@media (max-width: 600px) {
  .Contact_container__cg9gc > *:first-child {
    flex-basis: 100%;
  }
}
@media (max-width: 550px) {
  .Contact_container__cg9gc > * {
    flex-basis: 100%;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/Portfolio/index.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Portfolio_cards__V_roG {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  gap: 16px;
}
@media (max-width: 768px) {
  .Portfolio_cards__V_roG {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 560px) {
  .Portfolio_cards__V_roG {
    grid-template-columns: 1fr;
  }
}

.Portfolio_title__YPxiJ {
  margin-bottom: 32px;
}

.Portfolio_wrapper__B59kX {
  margin-bottom: 32px;
}
