@use '@/scss/grid';
@use '@/scss/breakpoints';

.block {
	margin-bottom: 64px;
}

.columns {
	@include grid.grid(3, $gap: 24px);
	margin-bottom: 24px;
	align-items: center;
}

.title {
	margin-bottom: 8px;
}

.description {
	margin-bottom: 32px;
}

.column {
	height: 100%;

	&:last-child {
		display: flex;
		flex-direction: column;
		gap: 24px;
		justify-content: flex-end;

		@media (max-width: 1000px) {
			display: none;
		}
	}

	@media (max-width: 1000px) {
		flex-basis: 50%;
	}

	@media(max-width: breakpoints.$tablet) {
		flex-basis: 100%;
	}

	;
}

.advantages {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;

	.mobile {
		display: none;

		@media (max-width: 1000px) {
			display: block;
		}
	}

	@media (max-width: 940px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media(max-width: 660px) {
		grid-template-columns: 1fr;
	}

	;
}

.image {
	width: 100%;
}