@use '@/scss/grid';
@use '@/scss/breakpoints';

.block {
	margin-bottom: 64px;
}

.columns {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 24px;
	gap: 24px;

	@media (max-width: breakpoints.$tablet-l) {
		grid-template-columns: 1fr;
	}
}

.title {
	display: flex;
	flex-wrap: wrap;

	span {
		padding: 0 16px;
		background-color: var(--mainColor);
		color: var(--backgroundColor);
		border-radius: 999px;

		font-weight: 500;
		text-transform: lowercase;
	}
}

.column {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;

	@media (max-width: 1000px) {
		flex-basis: 50%;
	}

	@media(max-width: breakpoints.$tablet) {
		flex-basis: 100%;
	}
}

.image {
	width: 100%;
}

.skills {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px 24px;
}

.skill {
	display: flex;
	align-items: center;
	gap: 12px;
}

.contacts {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.contact {
	display: flex;
	gap: 8px;
	align-items: center;

	i {
		font-size: 32px;
	}
}

.skillItems {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.skillItem {
	font-weight: 500;

	padding: 4px 8px;
	background-color: #fff;
	color: #000;
	border-radius: 8px;
}