.card {
	display: flex;
	flex-direction: column;
	gap: 16px;
	background-color: #252525;
	border-radius: 24px;

	padding: 16px;
}

.card_small {
	padding: 8px;
	border-radius: 4px;
}

.card_big {
	padding: 32px;
}