.reviews {
	display: grid;
	align-items: flex-start;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
	margin-top: 24px;

	@media (max-width: 992px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}